body {
    margin: 0%;
    font-family: sans-serif;
}
.about {
    width: 100%;
    background:#4E94AB;
}
p {
    text-align:center;
}
card {
    width: 100px;
}
img {
    width: 100%;
}
frame {
    width: 100%;
}