body {
    margin: 0%;
    font-family: sans-serif;
}
header {
    width: 100%;
    position:fixed;
    top:0; 
left:0;
right:0;
z-index:99;}

.navbar {
    background-color: #CC1414;
   
}
nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    
    text-align: center;
}
p {
    text-align:center;
    font-style: italic; 
}
.container{
    width:100;
}
img {
    
     width:100%;
      height:100%
 
}

.card-img-overlay {
    height: auto;
   
}
.card-img-fluid {
    text-align: center;
}
.card-img-top{
 position: relative;
     width:100%;
      height:100%
   
}